.cart-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding-bottom: 1rem;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);

    p,
    div {
        width: 20%;
        text-align: center;
        font-size: 1.1rem;
    }

    .image-container {
        img {
            width: 80%;
        }
    }

    .quantity-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .quantity-button {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-size: 1.5rem;
            font-weight: 900;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .remove-button {
        &:hover {
            cursor: pointer;
        }
    }
}