.cart-info-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.6);

    h4 {
        width: 20%;
        text-align: center;
        font-size: 1.2rem;
    }
}